asgiref==3.2.3
boto3==1.10.41
botocore==1.13.41
certifi==2019.11.28
chardet==3.0.4
click==6.7
colorama==0.4.3
Django==3.0.14
django-storages==1.8
docopt==0.6.2
docutils==0.15.2
feedparser==5.2.1
gitsome==0.8.4
gunicorn==20.0.4
idna==2.8
jmespath==0.9.4
npm==0.1.1
numpy==1.17.4
opencv-python==4.1.2.30
optional-django==0.1.0
Pillow==6.2.1
ply==3.11
prompt-toolkit==2.0.10
Pygments==2.5.2
python-dateutil==2.8.0
python-decouple==3.3
pytz==2016.10
requests==2.22.0
s3transfer==0.2.1
six==1.13.0
sqlparse==0.3.0
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.25.7
wcwidth==0.1.7
